.carouselCaption {
  width: 80%;
  top: 0;
  left: 2rem;
  text-align: start;
  /* z-index: 20; */
}

@media screen and (min-width: 768px) {
  .carouselCaption {
    width: 60%;
    top: 5rem;
  }
}

@media screen and (min-width: 992px) {
  .carouselCaption {
    top: 8rem;
  }
}

.carouselFilter {
  width: 1200px;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  /* z-index: 10; */
}

.title {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #000000;
  border: none;
}
