.captionWrapper {
  padding: 1rem 0;
}

.caption {
  display: flex;
  justify-content: space-between;
  color: #212529;
  border-bottom: 1px solid #212529;
}

.btnNews {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #212529;
  font-size: large;
  font-weight: 600;
}

.btnNews:hover {
  cursor: pointer;
}

.newsList {
  list-style-type: none;
  height: 460px;
  padding: 0;
}

.newsList > li {
  margin: 1.5rem 0;
}

.newsList > li:first-child {
  margin-top: 0.2rem;
  margin-bottom: 1.5rem;
}

.newsList > li:last-child {
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
}

.newsList > li:hover {
  transition-duration: 0.5s;
  transform: scale(1.1);
}

.newsCaption {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5rem 2rem 0.5rem 2rem;
  color: #fff;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.panelWrapper {
  width: 100%;
  height: 460px;
  position: relative;
  top: 0;
  left: 0;
}

.active {
  /* border-radius: 15px; */
  transform: scale(1.1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

/* .newsList > li::before {
  border-bottom: 17px solid transparent;
  border-right: 17px solid #f4f3ef;
  border-top: 17px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: -1px;
  top: 8px;
}

.newsList > li::after {
  border-bottom: 17px solid transparent;
  border-right: 17px solid #f4f3ef;
  border-top: 17px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: -1px;
  top: 8px;
} */

.loadingPanel {
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #9b9d9e;
  border-bottom: 4px solid #9b9d9e;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.error {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 32px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
