.App {
  text-align: center;
  background-color: var(--bs-gray-100);
}

@media screen and (min-width: 992px) {
  .main-wrapper {
    max-width: 1200px;
    margin: auto;
  }
}

.carousel img {
  object-fit: cover;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #fff;
}

.carousel {
  margin-top: 3.5rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 1000px;
    margin: 1.75rem auto;
  }
}

.card-img-overlay {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}
